<div *ngIf="loading" class="loading-container">
    <mat-progress-spinner mode="indeterminate" diameter="50" color="primary"></mat-progress-spinner>
  </div>
  <div *ngIf="error" class="error-message">
    <p>Error: {{ error }}</p>
  </div>
  
  <mat-card *ngIf="!loading && !error">
    <mat-card-title>Todo List</mat-card-title>
    <mat-list>
      <mat-list-item *ngFor="let todo of todos.slice(currentPage * pageSize, (currentPage + 1) * pageSize)">
        <mat-checkbox [checked]="todo.completed">{{ todo.title }}</mat-checkbox>
      </mat-list-item>
    </mat-list>
    <mat-paginator [length]="todos.length" [pageSize]="pageSize" [pageIndex]="currentPage" (page)="changePage($event)">
    </mat-paginator>
  </mat-card>
  